
$white: #F2F5FA;
$black: #000000;
$background-gradient: linear-gradient(117.43deg, #4e7171 0%, #131A22 100%);

$red: #FF404B;
$yellow: #FFF38B;
$green: #68F8B0;

$font: 'Proxima Nova Thin', sans-serif;
$size-min: 12px;
$size-max: 14px;


$active-state: #F2F5FA;
$no-active-state: rgba(255, 255, 255, 0.15);
